<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To-Do List</title>
  </head>
  <body>
    <header>
      <h1>My To-Do List</h1>
    </header>
    <main>
      <section class="task-view container">
        <h3>My Tasks</h3>
        <ul id="task-list">
          <% results.forEach(task => { %>
            <li class="task-item"  data-id="<%= task.id %>">
              <h4>Task: <%= task.title %></h4>
              <p>Desciption: <%= task.description %></p>
              <p>Contact person: <%= task.contact %></p>
              <p>Completion status: <%= task.status %></p>
              <p>Category: <%= task.category %></p>
              <p>Complete this task by <%= task.due %></p>
            </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
